@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/*Default Value*/
a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

/*Variable*/
$primary-color : #FF6060;
$bg-card : #F6F6F6;
$bg-photo :  #C4C4C4; // Should appear only if no avatar photo

$breakpointmobile: 600px;
$breakpointtablet:900px;
$breakpointdesktop:1250px;
$desk-max: 1440px;
$mobile_min: 335px; 

.active-link {
    text-decoration-line: underline;
}

button {
    border: none;
    border: none;
}
