.card_container {
    position: relative;
    margin: auto;
    width: 365px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-card;
    @media screen and (max-width: $breakpointtablet) {
        background-color: white;
        width: 365px;
        height: 260px;  
    }
    @media screen and (max-width: $breakpointmobile) {
        width: 335px;
    }
}

.card_image {
    width: 340px;
    height: 340px;
    background-color: $primary-color;
    @include rounded-border-medium;
    object-fit: cover;
    filter: brightness(70%);
    @media screen and (max-width: $breakpointtablet) {
        width: 335px;
        height: 255px;
    }
}

.card_title {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    font-size: 18px;
    width: 70%;
    @media screen and (max-width: $breakpointtablet) {
        bottom: 0px;
        left: 25px;
    }
}