@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*Default Value*/
a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

/*Variable*/
.active-link {
  text-decoration-line: underline;
}

/*Border radius*/
.footer_container {
  width: 100%;
  height: 209px;
  padding-top: 66px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
@media screen and (max-width: 600px) {
  .footer_container {
    min-width: 320px;
    margin: 66px auto 58px;
  }
}
.footer_container .logo {
  width: 122px;
}
.footer_container .footer_copyright {
  color: white;
}
@media screen and (max-width: 600px) {
  .footer_container .footer_copyright {
    width: 133px;
  }
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation .link-accueil,
.navigation .link-apropos {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: right;
  padding-left: 3.5rem;
  color: black;
}
@media screen and (max-width: 600px) {
  .navigation .link-accueil,
  .navigation .link-apropos {
    font-size: 12px;
    padding-left: 0.8rem;
    text-transform: uppercase;
  }
}

.header {
  max-width: 1240px;
  margin: 45px auto 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header {
    min-width: 320px;
    margin-top: 20px;
    margin-bottom: 27px;
  }
}
.header .logo {
  width: 210px;
}
@media screen and (max-width: 600px) {
  .header .logo {
    width: 145px;
  }
}

.banner_container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  min-width: 750px;
  height: 233px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 25px;
}
.banner_container .banner_img {
  position: absolute;
  width: 100%;
  bottom: -290px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
.banner_container .banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer le texte horizontalement et verticalement */
  font-size: 48px;
  margin: 0;
  white-space: nowrap;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px;
  -moz-text-stroke: 1px; /* Pour Firefox */
  -webkit-text-stroke-color: black;
}

.error {
  height: 1173px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .error {
    height: 879px;
  }
}
.error .error_number {
  color: #FF6060;
  font-size: 288px;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .error .error_number {
    font-size: 96px;
  }
}
.error .error_text {
  color: #FF6060;
  font-size: 36px;
  margin: 0;
}
@media screen and (max-width: 900px) {
  .error .error_text {
    font-size: 24px;
    width: 290px;
  }
}
@media screen and (max-width: 600px) {
  .error .error_text {
    font-size: 18px;
    width: 260px;
  }
}/*# sourceMappingURL=index.css.map */