.collapse_container {
    width: 100%;
    button {
        width: 100%;
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;        
        @include rounded-border-medium;
        padding: 10px 20px 10px 15px;
        .collapse_title {
            font-weight: bold;
            color: white;
            line-height: 0;
            margin: 0;
            @media screen and (max-width: $breakpointdesktop) {
                font-size: 13px;
            }
        }
        
        @media screen and (max-width: $breakpointdesktop) {
            padding: 5px 20px 5px 15px;
        }
    }

    .text_info {
        font-weight: normal;
        background-color: $bg-card;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 20px 0 20px;

        @include rounded-border-medium;
        
        & ul {
            margin : 0;
            padding : 10px 0 0 0;
        }
        @media screen and (max-width: $breakpointdesktop) {
            font-size: 12px;
        }
    }

    .arrow {
        width: 32px;
        height: 32px;
        transform: rotate(0deg);
        transition: transform 0.3s ease;
    }

    .arrow_down {
        transform: rotate(180deg);
    }
    .text_info {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.2s ease-in-out,max-height 0.5s ease, padding 0.3s ease;; /* Ajoute une transition de 0.5 secondes */
    }
    
    .text_info.deplie {
        opacity: 1;
        padding-top: 20px;
        height: auto;
        max-height: 600px; /* Vous pouvez ajuster cette valeur en fonction de votre contenu */
        transition: opacity 0.2s ease-in-out, max-height 0.5s ease,  padding 0.3s ease;;
    }
}

.description_container,
.equipements_container {
    max-width: 582px;
      
    .collapse_title {
        font-size: 18px;
    }
    & h4 {
        height: 80%; 
    }
    @media screen and (max-width: $breakpointdesktop) {
        max-width: 420px;
    }
}