.collapse_container {
    width: 100%;
    button {
        width: 100%;
        background-color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;        
        @include rounded-border-medium;
        padding: 10px 20px 10px 15px;
        .collapse_title {
            font-weight: bold;
            color: white;
            line-height: 0;
            margin: 0;
            @media screen and (max-width: 1200px) {
                font-size: 13px;
            }
        }
        
        @media screen and (max-width: 1200px) {
            padding: 5px 20px 5px 15px;
        }
    }

    .text_info {
            font-weight: normal;
            padding: 20px;
            background-color: $bg-card;
            margin-top: 0;
            margin-bottom: 0;
            @include rounded-border-medium;
            & ul {
                margin : 0;
                padding : 10px 0 0 0;
            }
            @media screen and (max-width: 1200px) {
                font-size: 12px;
            }
        }

    .arrow {

        width: 32px;
        height: 32px;

    }

    .arrow_down {
        rotate: 180deg;
    }
}

.description_container,
.equipements_container {
    max-width: 582px;
      
    .collapse_title {
        font-size: 18px;
    }
    & h4 {
        height: 80%; 
    }
}