.cards {
    margin: 43px auto 50px;
    padding: 40px 0 40px;
    gap: 25px;
    width: 1240px;
    background-color: $bg-card ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    @include rounded-border-medium;
}