.footer_container {
    width: 100%;
    height: 209px;
	padding-top: 66px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: space-between;
    background-color: black;

	@media screen and (max-width: $breakpoint) {
		min-width: 320px;
        //margin: 66px auto 58px ;
	}

	.logo {
	width: 122px;
	}
    .footer_copyright {
        color : white;
        @media screen and (max-width: $breakpoint) {
            width: 133px;
        } 
    }
}
