.banner_container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    min-width: 750px;
    height: 233px;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: $breakpointdesktop) {
        width : 80vw;
        min-width: 335px;
        height: 111px;
    }
    
    @include rounded-border-large;
    .banner_img {
        position: absolute;
        width: 100%;
        bottom: -290px;
        height: auto;
        object-fit: cover;
        filter: brightness(50%);
        @media screen and (max-width: $breakpointdesktop) {
            width : 80vw;
            min-width: 335px;
            bottom: -150px;
        }
        @media screen and (max-width: $breakpointtablet) {
            width : 80vw;
            min-width: 335px;
            bottom: -65px;
            filter: brightness(70%);
        }
    }
    .banner_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centrer le texte horizontalement et verticalement */
        font-size: 48px;
        margin: 0;
        white-space: nowrap;
        @include text-shadow-stroke;
        @media screen and (max-width: $breakpointtablet) {
            font-size: 24px;
            word-wrap: break-word;
            width : 225px;
            white-space: normal;
        }
    }
    .text-outline {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white; /* Rend le texte de contour invisible */
        transform: translate(-50%, -50%); /* Centrer le texte horizontalement et verticalement */
        font-size: 48px;
        margin: 0;
        white-space: nowrap;
        @media screen and (max-width: $breakpointtablet) {
            font-size: 24px;
            word-wrap: break-word; 
            width : 225px;
            white-space: normal;
        }
    }
}